/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
}

html, body, .app-wrap{
  height: 100%;
}

@font-face{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 50px;
}


.app-wrap{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px auto;
}

.app-logo {
  display: flex;
  align-items: center;
  background-color: #090;
  justify-content: center;
}

/*
*Header
*/
.app-header{
  background-color: #068;
  display: flex;
}
.app-header .toggle{
  display: flex;
  flex: 0 0 20px;
  justify-content: center;
  align-items: center;
}

.app-header .toggle a{
  text-decoration: none;
}

.app-header .right{
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-header .date{
  flex: 0 0 100px;
}

.app-header .user{
  flex: 0 0 150px;
}

/*
*Navbar
*/
.app-nav-bar{
  background-color: #009688;
}

.app-nav-bar a{
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
}

.app-nav-bar a:hover{
  background-color: #004D40;
}

.app-nav-bar a .icon{
  background-color: #000000;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin-right: 5px;
}

.app-nav-bar ul{
  list-style: none;
}

.app-nav-bar ul li ul a{
  padding-left: 20px;
}

.cuatro{
  background-color: #032;
}

/*
*Content
*/
.row{
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.row label{
  text-align: right;
  flex: 0 0 100px;
}
.row input{
  flex: 1 1 auto;
}
/*
*Content
*/
.app-content{
  padding: 10px;
}

.state-pagado{
  background-color: #009900;
}
.state-vencido{
  background-color: #900;
}

.state-por-vencer{
  background-color: #cccccc;
}

/*
*Account
*/
.month-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.month:not(:last-child){
  margin-right: 10px;
}
.box{
  width: 100px;
  height: 100px;
}
.month .label{
  text-align: center;
}

.display-flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.form-input{
  padding: 8px;
}

.ta-center{
  text-align: center;
}

.general-data{
  flex: 1 1 auto;
}

.align-item-center{
  align-items: center;
}

.estado-aporte{
  flex: 0 0 30% ;
  padding: 10px;
}
