/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";*/
*{
  margin: 0px;
  padding: 0px;
}

html, body, .app-wrap{
  height: 100%;
}

@font-face{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 50px;
}


.app-wrap{
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 70px auto;
  background-color: #F2F2F2;
}

.app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrap.close{
  grid-template-columns: 0px auto;
}



/*
*Header
*/
.app-header{
  background-color: #00897B;
  display: flex;
  transition: all 1s;
}
.app-header .toggle{
  display: flex;
  flex: 0 0 20px;
  justify-content: center;
  align-items: center;
}

.app-header .toggle a{
  text-decoration: none;
  color: #000;
}

.app-header .right{
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-header .date{
  flex: 0 0 100px;
}

.app-header .user{
  flex: 0 0 150px;
  text-align: center;
}

/*
*Navbar
*/
.app-nav-bar{
  background-color: #00897B;
}

.app-nav-bar a{
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
}

.app-nav-bar a:hover{
  background-color: #004D40;
}

.app-nav-bar a .icon{
  background-color: #000000;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin-right: 5px;
}

.app-nav-bar ul{
  list-style: none;
}

.app-nav-bar ul li ul a{
  padding-left: 20px;
}

.cuatro{
  background-color: #032;
}

/*
*Content
*/
.row{
  margin-top: 20px;
  align-items: center;
}
.row label{
  display: block;
}
/*
*Content
*/
.app-content{
  padding: 10px;
}

.state-pagado{
  background-color: #009900;
}
.state-vencido{
  background-color: #900;
}

.state-por-vencer{
  background-color: #cccccc;
}

/*
*Account
*/
.month-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.month:not(:last-child){
  margin-right: 10px;
}
.month {
  margin-bottom: 15px;
}
.box{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .icon {
  font-size: 2em;
  color: #ffffff;

}
.month .label{
  text-align: center;
}

.display-flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.form-control{
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.input-group {
  position: relative;
  display: table;
  width: 100%;
}
.input-group-addon {
  display: table-cell;
  text-align: center;
  border-top: 1px solid #A9A9A9;
  border-bottom: 1px solid #A9A9A9;
  border-right: 1px solid #A9A9A9;
  line-height: 1;
  padding: 8px;
  box-sizing: border-box;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.ta-center{
  text-align: center;
}

.general-data{
  flex: 1 1 auto;
}

.align-item-center{
  align-items: center;
}

.field-group{
  border: 1px solid #cccccc;
  border-radius: 3px;
  position: relative;
  margin-top: 15px;
}

.field-group-header{
  position: absolute;
  top: -10px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
}
.field-group-header .title{
  display: inline-block;
  background-color: #F2F2F2;
}
.field-group-content{
  margin-top: 10px;
  padding: 10px;
}
